<?xml version="1.0" encoding="UTF-8" standalone="no"?><class>
    <Bind type="scrollLeft">
        <key>Left</key>
    </Bind>
    <Bind type="scrollRight">
        <key>Right</key>
    </Bind>
    <Bind type="scrollUp">
        <key>Up</key>
    </Bind>
    <Bind type="scrollDown">
        <key>Down</key>
    </Bind>
    <Bind type="select">
        <key>Enter</key>
    </Bind>
    <Bind type="back">
        <key>Esc</key>
    </Bind>
    <Bind type="closeMenu">
        <key>Esc</key>
    </Bind>
</class>